@font-face {
    font-family: 'Segoe UI';
    src: url('../font/Segoe-UI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Regular';
    src: url('../font/Segoe-UI.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Italic';
    src: url('../font/Segoe-UI-Italic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.middle-box {
    background-color: #2B2B2B;
    border-radius: 10px;
    padding: 10%;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 25%;
}

.middle-box-title-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
    color: #dad8d9;
    font-size: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #3d3c3c;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul li {
    padding: 15px 20px;
    text-align: left;
}

ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dad8d9;
    text-decoration: none;
    text-align: center;
    padding: 5%;
}

ul li a:hover {
    color: rgb(66, 3, 50);
    text-decoration: underline;
}

ul img {
    height: 50px;
    width: 90px;
    margin-top: 20px;
    position: relative;
    left: 32%;
    transition: transform 1.0s;
}

ul img:hover {
    transform: rotateY(360deg);
}

.fa-solid {
    font-size: 15px;
    padding-right: 5%;
    color: #dad8d9;
}

.fa-solid:hover {
    color: rgb(66, 3, 50);
}

.bottom-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

.line {
    border: 2.5px solid #660559;
    width: 99%;
    margin-top: 10px;
}

.separation-deux-nav {
    color: #161616;
    padding-left: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-right-page {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 20px;
    color: #dad8d9;
}

.fa-regular.fa-moon {
    font-size: 20px;
    color: #dad8d9;
    margin: 10px;
    transition: color 0.3s ease;
}

.fa-solid.fa-moon {
    font-size: 20px;
    color: #570449;
    margin: 10px;
    transition: color 0.3s ease;
}

.fa-regular.fa-moon:hover {
    color: rgb(66, 3, 50);
}

.navbartopjustevatar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 17px;
    background-color: #3d3c3c;
    width: calc(100% - 16%);
    position: fixed;
    right: 0;
    z-index: 1000;
    top: 0px;
    padding-bottom: 22px;
}

.navbartopjustevatar-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbartopjustevatar-content-avatar {
    display: flex;
    align-items: center;
}

.navbartopjustevatar-content-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbartopjustevatar-content-logout a {
    color: #dad8d9;
    text-decoration: none;
}

.navbartopjustevatar-content-logout a:hover {
    color: rgb(66, 3, 50);
}

.pageurl {
    width: calc(100% - 15%);
    position: fixed;
    top: 86px;
    right: 0;
    z-index: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

.url-bar {
    background-color: #2B2B2B;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    margin-right: 10px;
}

.button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.button.close {
    background-color: #ff5c5c;
}

.button.minimize {
    background-color: #ffbd44;
}

.button.maximize {
    background-color: #3bff5c;
}

.url-bar p {
    color: #dad8d9;
    margin: 0;
    flex-grow: 1;
    padding-left: 10px;
}
